.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}
img.d-inline-block.align-top{
  margin-left: 20px;
}
.nav-item {
  float: none;
}

.nav-link {
  float: none;
}

.navbar-brand {
  float: none;
}

.navbar-collapse {
  float: none;
}

.nav-item{
  margin-right: 10px;
}
.home{
  color: rgb(255, 255, 255);
  background-color: crimson;
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
  padding: 50px;
  text-transform: uppercase;
  font-size: xx-large;
}

a.btn.btn-primary{
  margin: 10px;

}